@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div><b>AuthScheme:</b> @Model.AuthScheme</div>
    <br />
@foreach(var claim in Model.Claims)
{
    <div><b>@claim.Type</b> @claim.Value</div>
}
</div>
